<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} Home | Car Sale {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta property="og:title" content="Vide" />
		<meta name="keywords" content="Car Sale" />
		<script type="application/x-javascript"> 
			addEventListener("load", function() { 
				setTimeout(hideURLbar, 0); 
			}, false);
			function hideURLbar(){ 
				window.scrollTo(0,1); 
			} 
		</script>
		<link href="{{ asset('/assets/fo/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="{{  asset('assets/fo/css/bootstrap-4.min.css') }}" />
		<link href="{{ asset('/assets/fo/css/style.css') }}" rel='stylesheet' type='text/css' />
		<script src="{{ asset('/assets/fo/js/jquery-1.11.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/assets/fo/js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/assets/fo/js/easing.js') }}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<link href="{{ asset('/assets/fo/css/font-awesome.css') }}" rel="stylesheet"> 
		<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<script src="{{ asset('/assets/fo/js/jstarbox.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('/assets/fo/css/jstarbox.css') }}" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>

	</head>
	<body>
		{% block header %}
			{{ include('components//header_fo.html.twig') }}
		{% endblock %}
		<script>
			window.jQuery 
			|| document.write('<script src="{{ asset('/assets/fo/js/vendor/jquery-1.11.1.min.js') }}"><\/script>')
		</script>
		<script src="{{ asset('/assets/fo/js/jquery.vide.min.js') }}"></script>
		{% for message in app.flashes('notice_error') %}
          <input type="hidden" id="notice_error" value="{{ message }}" />
        {% endfor %}
        {% for message in app.flashes('notice_success') %}
          <input type="hidden" id="notice_success" value="{{ message }}" />
        {% endfor %}
        {% for message in app.flashes('notice_warning') %}
          <input type="hidden" id="notice_warning" value="{{ message }}" />
        {% endfor %}
		
		{% block body %}

		{% endblock %}

		{% block footer %}
			{{ include('components//footer_fo.html.twig') }}
		{% endblock %}
		<script type="text/javascript">
			$(document).ready(function() {								
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<script src="{{ asset('/assets/fo/js/bootstrap.js') }}"></script>
		<script type='text/javascript' src="{{ asset('/assets/fo/js/jquery.mycart.js') }}"></script>
		 <script type="text/javascript" src="{{ asset('assets/fo/js/sweetalert2.min.js') }}"></script>
		<script type="text/javascript">
			$(function() {
				const Toast = Swal.mixin({
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					timer: 3000
				});

				const flasherror = $('#notice_error').val();
				const flashsuccess = $('#notice_success').val();
				const flashwarning = $('#notice_warning').val();

				if(flasherror){
					flash_notice('error', flasherror);
				}
				if(flashsuccess){
					flash_notice('success', flashsuccess);
				}
				if(flashwarning){
					flash_notice('warning', flashwarning);
				}

				function flash_notice(type, message) {
					Toast.fire({
						type: type,
						title: message
					})
				}
			});
		</script>
		<script type="text/javascript">
			$(function () {
				var goToCartIcon = function($addTocartBtn){
					var $cartIcon = $(".my-cart-icon");
					var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
					$addTocartBtn.prepend($image);
					var position = $cartIcon.position();
					$image.animate({
						top: position.top,
						left: position.left
					}, 500 , "linear", function() {
						$image.remove();
					});
				}

				$('.my-cart-btn').myCart({
					classCartIcon: 'my-cart-icon',
					classCartBadge: 'my-cart-badge',
					affixCartIcon: true,
					checkoutCart: function(products) {
						$.each(products, function(){
						console.log(this);
						});
					},
					clickOnAddToCart: function($addTocart){
						goToCartIcon($addTocart);
					},
					getDiscountPrice: function(products) {
						var total = 0;
						$.each(products, function(){
						total += this.quantity * this.price;
						});
						return total * 1;
					}
				});
			});
		</script>			
	</body>
</html>