<div id="contact-cta" class="section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url({{ asset('assets/imgs/cta2-background.jpg') }})"></div>
    <!-- Backgound Image -->

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="white-text">{{ 'contact.title'|trans }}</h2>
                <p class="lead white-text">{{ 'contact.message'|trans }}</p>
                <a class="main-button icon-button" href="{{ path('contact') }}">{{ 'contact.btn'|trans }}</a>
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>