<div class="header">
	<div class="container">
		<div class="logo">
			<h1 ><a href="{{ path('home') }}"><b>T<br>H<br>E</b>Car's Sale<span>The Best Supermarket</span></a></h1>
		</div>
		<div class="head-t">
			<ul class="card">
				{% if app.user != false %}
					<li><a href="{{ path('wishlist') }}" ><i class="fa fa-heart" aria-hidden="true"></i>Commande</a></li>
				{% endif %}
				{% if app.user == false %}
					<li><a href="{{ path('connexion') }}" ><i class="fa fa-user" aria-hidden="true"></i>se connecter</a></li>
					<li><a href="{{ path('sign_up') }}" ><i class="fa fa-arrow-right" aria-hidden="true"></i>s'nscrire</a></li>
				{% endif %}
			</ul>	
		</div>
		<div class="header-ri">
			<ul class="social-top">
				<li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
				<li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
				<li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
				<li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
			</ul>	
		</div>
		<div class="nav-top">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="{{ path('home')}}" class="hyper "><span>Accueil</span></a></li>
					</ul>
				</div>
			</nav>
			{% if app.user != false %}
				<div class="deconnexion" >
					<a href="{{ path('logout_path') }}" >déconnexion<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				</div>
			{% endif %}
			<div class="cart" >
				<span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
			</div>
			<div class="clearfix"></div>
		</div>
				
	</div>			
</div>