{% extends 'base_fo.html.twig' %}

{% block title %} Login | Car {% endblock %}

{% block body %}
    <!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >Login</h3>
		<h4><a href="{{ path('home')}}">Accueil</a><label>/</label>Login</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<!--login-->

<div class="login">

	<div class="main-agileits">
		<div class="form-w3agile">
			<h3>Login</h3>
			{% if error %}
				<input type="hidden"  id="notice_error" value="{{ error.messageKey|trans(error.messageData, 'messages') }}"  />
			{% endif %}
			<form action="{{ path('fos_user_security_check') }}" method="post">
				{% if csrf_token %}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				{% endif %}
				<div class="key">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<input  type="text" value="" name="_username" onfocus="this.value = '';" required="">
					<div class="clearfix"></div>
				</div>
				<div class="key">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<input  type="password" value="" name="_password" onfocus="this.value = '';"  required="">
					<div class="clearfix"></div>
				</div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="forg">
			<a href="{{ path('sign_up') }}" class="forg-right">S'inscrire ?</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
    
{% endblock %}